body {
    font-family: Source Sans pro, sans-serif;
    margin: 0;
}

header {
    background-color: #3E3739;
    height: 3em;
    display: flex;
    justify-content: space-between;
}

header img {

    width: 15%;
}

header img:first-of-type {
    width: 5%;
    margin-left: 1em;
}

header img:last-of-type {
    width: 5%;
    margin-right: 1em;
}

header button {
    width: 2em;
    height: 2em;
}

button {
    color: #fff;
    background: #00477f;
    font-family: Source Sans pro, sans-serif;
    font-weight: 600;
    border-radius: 4px;
    padding: 0.75em 1.25em;
    font-size: 1em;

}

button:hover {
    background: #009ddb;
}

a {
    color: #00477f;
}

a:hover {
    color: #009ddb;
}

a:visited {
    color: #00477f;
}

input {
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 9px;
    padding-bottom: 9px;
}

form {
    border-style: none;

}
