body {
    font-family: "Source Sans pro", sans-serif;
    margin: 0;
}

header {
    background-color: #3E3739;
    height: 2em;
    margin-bottom: 0;
    padding-top: 0.5em;
    position: fixed;
    width: 100%;
}

ul {
    /* de ul moet een flex container worden */
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0 auto;

}

li img {
    max-width: 1.5em;
    max-height: 1.5em;
    align-content: center;
    padding-left: 1em;
    padding-right: 1em;
}

li:first-child {
    margin-left: 0;
    margin-right: auto;
}



a {
    text-decoration: none;
    color: #07487d;
}

main {
    background-color: white;
}

/* alle artikelen stylen*/

article {
    background-color: white;
    color: black;
    width: 20em;
    height: 23em;
    border-radius: 0.1875em;
    padding: 1em;
    margin-top: 2em;
    transition: 1s;
    font-family: Source Sans Pro;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

/* bron box-shadow: https://www.w3schools.com/css/css3_shadows.asp */

article img {
    width: 100%;
    width: calc(100% + 2em);
    margin-left: -1em;
    margin-top: -1em;
    max-height: 14em;
}

article:hover {
    transform: scale(1.03);
}

fieldset {
    margin-top: 1em;
    width: 20em;
    background: white;
    border: none;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

footer {
    color: black;
}

h3 {
    border-bottom: 1px solid;
    border-bottom-color: #e32137;
}

/* border is in px omdat het anders heel raar kan worden als het groter wordt*/

main section:first-of-type article {
    background-image: url(voorproefinterview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    max-height: 20em;
    margin: 0 auto;
}

/* deze selecteert de h3 van het uitgelichtte verhaal, en zorgt ervoor dat hij anders gepositioeert wordt */

section:first-of-type {
    background-image: url(reizigers2.jpg);
    opacity: 0.5 margin-top: 0;
    max-height: 15em;
    padding-top: 2em;
}

main section:first-of-type h3 {
    text-align: center;
    position: relative;
    top: 2.5em;

}

main section:last-of-type article {
    margin: 0 auto;
    max-width: 15em;
}



h2 {
    color: #07487d;
    font-weight: 600;
    width: 100%;
    text-align: center;
}

section:first-of-type h2 {
    color: #07487d;
    font-weight: normal;
    margin-top: 0;
    padding-top: 1em;
}

section:last-of-type {
    background-color: #ebebec;
}

/* de breakpoints*/

main section:last-of-type {
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
}


@media (min-width: 40em) {
    main section:last-of-type {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
    h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    main section:last-of-type article {
        max-width: 15em;
    }
    main section:first-of-type {
        max-height: 20em;
    }
}

@media (min-width: 70em) {
    main section:last-of-type {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
        4
    }
    h2 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    main section:last-of-type article {
        max-width: 20em;
    }
    main section:first-of-type {
        max-height: 30em;
    }
}

/* de code voor de transitie etc van het filteren
Gebruikte bron: https://www.w3schools.com/howto/howto_js_sidenav.asp*/

form:last-of-type {
    height: 100%;
    /* volledige lengte */
    width: 0;
    /* eerst is het niks, met de class van js wordt het aangepast */
    position: fixed;
    /* zorgt ervoor dat het aan de zijkant staat en niet onder de eerste section */
    z-index: 1;
    /*zorgt ervoor de de artikelen er niet boven komen als je daar overheen hovert*/
    top: 0;
    /* Zorgt ervoor dat het niet tussen de artikelen komt te staan */
    left: 0;
    /*Zorgt ervoor dat het helemaal links staat*/
    background-color: white;
    /* Black*/
    overflow-x: hidden;
    /* zorgt ervoor dat het niet meescrollt */
    transition: 0.5s;
    /* zorgt ervoor dat het er een halve seconde over doet */
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19);
}

fieldset p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0.5em;
}

form.show-filteren {
    width: 23em;
}

form button {
    color: #fff;
    background: #00477f;
    font-family: Source Sans pro, sans-serif;
    font-weight: 600;
    border-radius: 0.25em;
    margin: 0.5em;
    padding: 0.75em 1.25em;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

form a {
    margin-right: 1.5em;
    display: flex;
    justify-content: flex-end;
}

footer {
    color: #00477f;
    text-align: center;
}

article footer {
    text-align: left;
    display: flex;
    justify-content: space-around
}

article footer p {
    margin: 0;
    padding: 0;

}

footer img {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
}
